<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" />
  </configSections>
  
  <log4net>
    <appender name="LogFileAppender"
        type="log4net.Appender.RollingFileAppender" >
      <param name="AppendToFile"
         value="true" />
      <file type="log4net.Util.PatternString" value="..\..\log\Topshelf.WCF.%appdomain.log" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="4" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"
           value="%-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <ShelfConfiguration Bootstrapper="Topshelf.WCF.CoolServiceBootstrapper, Topshelf.WCF" />

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost/sampleservice/"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="Topshelf.WCF.CoolService">
        <endpoint behaviorConfiguration="web" binding="webHttpBinding"
                contract="Topshelf.WCF.ICoolService" address="http://localhost/sampleservice/CoolService.svc" />
      </service>
    </services>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
